# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore dummy logs
/spec/dummy/log/*.log

# Ignore photos
/public/photos

# Ignore coverage
coverage

/spec/dummy/tmp/cache

*.gem
