%h3 Products
%table{:border => 1}
  %tr 
    %th Sku
    %th Product
    %th Price
    %th Action
  -@products.each do |p|
    %tr
      %td= p.sku
      %td= link_to p.description, @url.product_path(p)
      %td= p.price
      %td
        = button_to 'Add to Cart', @url.add_to_cart_path(@stem, p),
          :id => "addToCartButton", :method => :post
