-if @product
  %div= button_to 'Add to Cart', @url.add_to_cart_path(@stem, @product),
    :id => "addToCartButton", :method => :post
  %br
  %ul
    %div{class: 'product-image'}
    %div{class: 'product'}
      -if @product.description
        =@product.description
    %div{class: 'price'}
      -if @product.price
        =@product.price
-else
  Product not found.
