-if @product
  %h1= @product.description
  %ul
    %div{class: 'product-image'}
    %div{class: 'price'}
      -if @product.price
        = as_currency(@product.price)
      %div= button_to 'Add to Cart', @url.add_to_cart_path(@stem, @product),
        :id => "addToCartButton", :method => :post
    %div{class: 'product'}
      -if @product.description
        =@product.description
-else
  Product not found.
