-if @product
  %h1= @product.description
  %div{class: 'product-container'}
    %div{class: 'product-category'}
      -if @product.category
        =@product.category
    %div{class: 'product-image'}
      -if @product.picture
        =image_tag @product.picture
    %div{class: 'product-quantity'}
      Quantity:
      =@product.quantity
    %div{class: 'price'}
      -if @product.price
        = as_currency(@product.price)
      = button_to 'Add to Cart', @url.add_to_cart_path(@stem, @product),
        :id => "addToCartButton", :method => :post
-else
  Product not found.
